@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Lato&family=Open+Sans&family=Playfair+Display:ital,wght@0,400;0,700;0,800;1,400&family=Raleway:wght@300;400;800&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@700&family=Julius+Sans+One&family=Montserrat:wght@300&family=Quando&display=swap');

body{
	text-align: center;
font-family: 'Josefin Sans', sans-serif;
}

h1{
font-family: 'Josefin Sans', sans-serif;
font-size: 8em;
}

#T01{
 font-family: 'Playfair Display', serif;
 font-size: 5em;
 text-align: left;
}

.block01{
 font-family: 'Raleway', sans-serif;
 text-align: justify;
}

#T02{
font-family: 'Staatliches', sans-serif;
align: center;
}

.block02{
  font-family: 'Open Sans', sans-serif;
  color : black;
  text-align: justify;
}

#T03{
  font-family: 'Big Shoulders Inline Text', cursive;
  font-size: 4em;
}

.block03{
  font-family: 'Montserrat', sans-serif;
  color : white;
  text-align: justify;
}


#T04{
font-family: 'Julius Sans One', sans-serif;
font-size: 5em;
  text-align: left;
}

.block04{
  font-family: 'Quando', serif;
  text-align: justify;
}
